@import "./core/variables";
@import "./core/reset";


//Styles for the whole page.
.contain{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}   

//Menu section.
.menu{
    font-size: 18px;
    background-color: white;
    text-align: center;
    position: fixed;
    width: 10vw;
    height: 100vh;
    @media all and (max-width: 768px){
        width: 16vw;
    }
}

.resume-image{
    width: 4vw;
    margin-top: 40px;
}

.resume-name{
    margin-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @media all and (max-width: 768px){
        font-size: 14px;
    }
}

.menu-container{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.option{
    padding: 20px;
    cursor: pointer;
}

.option:hover{
    background-color: rgb(245, 233, 210);
}

.icon-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;
}

.icon{
    height: 3vh;
    @media all and (max-width: 768px){
        height: 2.5vh;
    }
}

.icon-platzi{
    height: 4vh;
    @media all and (max-width: 768px){
        height: 3.5vh;
    }
}


//Profile section.
.profile-container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(132deg, #fff9ec 0%, #fff9ec 50%, rgb(255, 235, 198) calc(80% + 1px), rgb(255, 235, 198) 80%, wheat calc(80% + 1px), wheat 90%, rgb(239, 202, 132) calc(90% + 1px), rgb(239, 202, 132) 100%);
    @media all and (max-width: 768px){
        padding-top: 50px;
    }
}

.profile-image{
    object-fit: cover;
    width: 39vw;
    height: 72vh;
    @media all and (max-width: 768px){
        height: 30vh;
    }
}

.profile-contain{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    @media all and (max-width: 768px){
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        align-items: center;
    }
}

.profile-name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 38px;
    margin-top: 10%;
    @media all and (max-width: 768px){
        margin-top: -30%;
    }
}

.profile-position{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    color: rgb(158, 158, 158);
}

.profile-intro{
    font-family: Verdana, Geneva, Tahoma sans-serif;    
    font-size: 15px;
    line-height: 21px;
    margin-top: 40px;
    width: 40vw;
    text-align: justify;
    @media all and (max-width: 768px){
        width: 60vw;
    }    
}

.profile-description{
    font-family: Verdana, Geneva, Tahoma sans-serif;    
    font-size: 15px;
    line-height: 21px;
    margin-top: 20px;
    width: 40vw;
    text-align: justify; 
    @media all and (max-width: 768px){
        width: 60vw;
    }  
}

.profile-download{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 2px solid wheat;
    padding: 15px;
    width: 8vw;
    margin-top: 32px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    @media all and (max-width: 768px){
        width: 15vw;
    }
}

.profile-download:hover{
    background-color:  wheat;
    padding: 15px;
    color: black;
}

//Education section.
.studies-container{
    margin-left: 10%;
    height: 100vh;
    background: linear-gradient(39deg, rgb(239, 202, 132) 0%, rgb(239, 202, 132) 8%, wheat calc(8% + 1px), wheat 15%, rgb(255, 235, 198) calc(15% + 1px), rgb(255, 235, 198) 20%, white calc(20% + 1px), white 100%);
}

.education{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    margin-top: 60px;
    padding-right: 28px;
    background-color: wheat;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: end;
    @media all and (max-width: 768px){
        margin-left: 6%;
        width: 26vw;
    }
}

.education-contain{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 12%;
    margin-right: -4%;
    margin-top: 3.5%;
    @media all and (max-width: 768px){
        grid-template-rows: 46%;
        grid-template-columns: none;
        margin-left: 12%;
        margin-right: -43%;
    }
}


//Curses section.
.article-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    font-weight: bolder;
    font-size: 24px;
    @media all and (max-width: 768px){
        font-size: 20px;
    }
}

.article-container{
    display: grid;
    grid-template-columns: 20% 2% 0%;
    margin-top: 40px;
    margin-left: -24px;
    @media all and (max-width: 768px){
        margin-top: 26px;
        margin-left: -100px;
    }
}

.article-date{
    text-align: end;
}

.date{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-right: 12px;
    @media all and (max-width: 768px){
        margin-right: -5px;
    }
}

.school-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(158, 158, 158);
    margin-top: 15px;
    margin-left: -70px;
    width: 12vw;
    @media all and (max-width: 768px){
        font-size: 11px;
        margin-left: 16px;
        width: 25vw;
    }
}

.time-container{
    position: absolute;
}

.time-vertical{
    border-left: 1px solid wheat;
    transform: translate(154px);
    margin-left: 7px;
    @media all and (max-width: 768px){
        margin-left: 76px;
    }
}

.vertical-list{
   position: relative; 
   height: 19.4vh;
   @media all and (max-width: 768px){
        height: 20vh;    
   }
}

.circle-list{
    content: '';
    position: absolute;
    top: 14px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgb(255, 207, 118);
 }

.title-description{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 24vw;
    @media all and (max-width: 768px){
        width: 50vw;
    }
}

.certificate{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 24vw;
    @media all and (max-width: 768px){
        width: 37vw;
    }
}

.studies-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    width: 27.1vw;
    line-height: 25px;
    text-align: justify;
    @media all and (max-width: 768px){
        width: 55vw;
    }
}

.view-certificate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    border: 2px solid wheat;
    width: 8vw;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    color: black;
    @media all and (max-width: 768px){
        width: 16vw;
    }
}

.view-certificate:hover{
    background-color:  wheat;
}


//Project section.
.project-container{
    margin-left: 10%;
    height: 100vh;
    background: linear-gradient(139deg, #fff9ec 0%, #fff9ec 40%, rgb(255, 235, 198) calc(54% + 1px), rgb(255, 235, 198) 61%, wheat calc(70% + 1px), wheat 82%, rgb(239, 202, 132) calc(92% + 1px), rgb(239, 202, 132) 100%);
}

.image-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
    @media all and (max-width: 768px){
        grid-template-columns: 249px 178px;  
    }
}

.image-container:hover > :not(:hover) {
    opacity: .4;
}

.image-listing {
    width: 24vw;
    position: relative;
    margin-top: 60px;
    border: 1px solid rgb(230, 230, 230);
    @media all and (max-width: 768px){
        width: 30vw;
    }
}

.image-listing:hover {
    box-shadow: 0 0 18px #c69605;
}
  
.image-project {
    width: 24vw; 
    transition: .3s; 
    @media all and (max-width: 768px){
        width: 30vw;
    } 
}

.title-container {
    height: 8vh; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-project {
    text-transform: uppercase;  
    font-weight: bold; 
}

.project {
    text-align: center;   
}


//Skills section.
.skills{
    margin-left: 10%;
    height: 100vh;
    background: linear-gradient(125deg, #FFFFFF 0%, #000000 100%), linear-gradient(104deg, #fff4d9 0%, #fff4d9 65%, rgb(255, 228, 177) calc(65% + 1px), rgb(255, 228, 177) 76%, rgb(255, 217, 146) calc(76% + 1px), rgb(255, 217, 146) 88%, rgb(255, 201, 102) calc(88% + 1px), rgb(255, 201, 102) 100%), linear-gradient(28deg, #FFD9E8 0%, #FFD9E8 76%, #b49d87 calc(76% + 1px), #b49d87 84%, #88714a calc(84% + 1px), #88714a 92%, #6a5626 calc(92% + 1px), #6a5626 100%);
    background-blend-mode: overlay, overlay, normal;
 }

.skills-container{
    margin-left: 10%;
    margin-top: 4%;
    @media all and (max-width: 768px){
        margin-top: 10%;
    }
}

.skills-contain{
    display: flex;
    flex-direction: column;
}

.professional-skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-weight: bolder;
    font-size: 24px;
}

.name-skills{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 15px;
}

.personal-skills{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-weight: bolder;
    font-size: 24px;
    margin-top: 80px;
}

.line-skills{
    width: 40vw;
    height: 1.5vh;
    border-radius: 100px;
    border: 2px solid wheat;
    margin-top: 8px;
}

.line-skills::-webkit-progress-value{
    background-color: wheat;
}

.line-skills::-webkit-progress-bar{
    background-color: white;
}

/*

//PHONE MODE
@media all and (max-width: 768px){
    
}



//TABLET MODE
@media all and (max-width: 768px){
}



//PC MODE
@media all and (max-width:1280px){

}



//LAPTOP MODE
@media all and (max-width:1280px){

}*/