@import "./core/variables";
@import "./core/reset";

.contain{
    display: grid;
    grid-template-columns: 10% 90%;
    height: 100vh;
}

.about-me{
    background-color: blue;
}

.menu{
    font-size: 18px;
    background-color: white;
    text-align: center;
}

.resume-image{
    width: 4vw;
    margin-top: 40px;
}

.resume-name{
    margin-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-container{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.option{
    padding: 20px;
    cursor: pointer;
}

.option:hover{
    background-color: rgb(245, 233, 210);
}

.icon{
    width: 1.4vw;
    margin-left: 8px;
    margin-top: 20px;
}

.profile-container{
    background-color: white;
    display: flex;
}

.container-image{
    width: 36vw;
    height: 60vh;
}

.profile-image{
    object-fit: cover;
    width: 36vw;
    height: 72vh;
}

.profile-contain{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.profile-name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 38px;
    margin-top: 10%;
}

.profile-position{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    color: rgb(158, 158, 158);
}

.profile-intro{
    font-family: Verdana, Geneva, Tahoma sans-serif;    
    font-size: 15px;
    line-height: 21px;
    margin-top: 40px;
    width: 40vw;
    text-align: justify;    
}

.profile-description{
    font-family: Verdana, Geneva, Tahoma sans-serif;    
    font-size: 15px;
    line-height: 21px;
    margin-top: 20px;
    width: 40vw;
    text-align: justify;    
}

.profile-dowload{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 2px solid rgb(235, 177, 68);
    padding: 15px;
    width: 7vw;
    margin-top: 32px;
    text-align: center;
    cursor: pointer;
}

.profile-dowload:hover{
    background-color:  rgb(235, 177, 68);
    padding: 15px;
    color: white;
}




.studies-container{
    margin-top: 226%;
    width: 99vw;
    height: 100vh;
}

.education{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    margin-top: 60px;
    padding-right: 28px;
    background-color: wheat;
    width: 20vw;
    height: 6vh;
    text-align: end;
}

.studies{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 24px;
    margin-top: 60px;
    margin-left: 180px;
}

.date{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 60px;
    margin-left: 20%;
}

.school-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 20%;
    color: rgb(158, 158, 158);
}