@import "./core/variables";
@import "./core/reset";

.contain{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}   

.menu{
    font-size: 18px;
    background-color: white;
    text-align: center;
    position: fixed;
    width: 10vw;
    height: 100vh;
}

.resume-image{
    width: 4vw;
    margin-top: 40px;
}

.resume-name{
    margin-top: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-container{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.option{
    padding: 20px;
    cursor: pointer;
}

.option:hover{
    background-color: rgb(245, 233, 210);
}

.icon{
    width: 1.4vw;
    margin-left: 8px;
    margin-top: 20px;
}

.profile-container{
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.container-image{
    width: 36vw;
    height: 60vh;
}

.profile-image{
    object-fit: cover;
    width: 36vw;
    height: 72vh;
}

.profile-contain{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.profile-name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 38px;
    margin-top: 10%;
}

.profile-position{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 20px;
    color: rgb(158, 158, 158);
}

.profile-intro{
    font-family: Verdana, Geneva, Tahoma sans-serif;    
    font-size: 15px;
    line-height: 21px;
    margin-top: 40px;
    width: 40vw;
    text-align: justify;    
}

.profile-description{
    font-family: Verdana, Geneva, Tahoma sans-serif;    
    font-size: 15px;
    line-height: 21px;
    margin-top: 20px;
    width: 40vw;
    text-align: justify;    
}

.profile-download{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    border: 2px solid wheat;
    padding: 15px;
    width: 8vw;
    margin-top: 32px;
    text-align: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.profile-download:hover{
    background-color:  wheat;
    padding: 15px;
    color: black;
}




.studies-container{
   margin-left: 10%;
   height: 100vh;
}

.education{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 28px;
    margin-top: 60px;
    padding-right: 28px;
    background-color: wheat;
    width: 20vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.education-contain{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 16%;
    margin-top: 3.5%;
}

.article-title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    font-weight: bolder;
    font-size: 24px;
}

.article-container{
    display: grid;
    grid-template-columns: 20% 2% 0%;
    margin-top: 40px;
    margin-left: -24px;
}

.article-date{
    text-align: end;
}

.date{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.school-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(158, 158, 158);
    margin-top: 15px;
    margin-left: -70px;
    width: 12vw;
}

.time-container{
    position: absolute;
}

.time-vertical{
    border-left: 1px solid wheat;
    transform: translate(154px);
}

.vertical-list{
   position: relative; 
   height: 10vh;
}

.circle-list{
    content: '';
    position: absolute;
    top: 15px;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background: rgb(255, 207, 118);
 }

.title-description{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 24vw;
}

.certificate{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 24vw;
}

.studies-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.description{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    width: 24vw;
}

.view-certificate{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 15px;
    border: 2px solid wheat;
    width: 8vw;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    color: black;
}

.view-certificate:hover{
    background-color:  wheat;
}






.project-container{
    margin-left: 10%;
    height: 100vh;
 }

 .image-container {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    align-content: center;
    justify-content: center;
    column-gap: 50px;
}

.image-listing {
    position: relative;
    margin-top: 60px;
}

.image-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 30vh;
    width: 25.4vw;
    opacity: 0;
    transition: opacity .2s;
    background: rgb(223, 194, 141);
    color: rgb(255, 247, 231);
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-image {
    overflow: hidden;
    width: 40vw;
    height: 30vh;
}
  
.image-project {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
    width: 24vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}

.image-listing:hover .image-title {
    opacity: 1;
}
  
.image-listing:hover .location-image img {
    filter: blur(2px);
}